ion-button::part(native) {
  width: 160px;
  height: 38px;
  background-color: #3BADEC;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  text-transform: none;
  box-shadow: none;

  &:hover {
    background-color: #3BADEC;
    color: #ffffff;
  }
}

ion-button.following::part(native) {
  background-color: #FFFFFF;
  color: #3BADEC;
  border: 1px solid #3BADEC;

  &:hover {
    background-color: #eefbff;
    color: #3BADEC;
  }
}
