ion-button::part(native) {
  background-color: #ffffff;
  border: 1px solid #3BADEC;
  border-radius: 10px;
  color: #3BADEC;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  width: auto;
  height: auto;
  min-height: 50px;
  text-transform: none;

  &:hover {
    background-color: #3BADEC;
    color: #ffffff;
  }
}
