<ion-button (click)="changePassword()">
  Change Password
</ion-button>

<div *ngIf="showChangePasswordForm" class="change-password-form" (click)="closePopup()">
  <div class="password-popup" (click)="$event.stopPropagation()">
    <h3>Change Password</h3>

    <ion-item>
      <ion-input
        label="Current Password"
        labelPlacement="floating"
        [(ngModel)]="currentPassword"
        type="password"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="New Password"
        labelPlacement="floating"
        [(ngModel)]="newPassword"
        type="password"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Confirm Password"
        labelPlacement="floating"
        [(ngModel)]="confirmPassword"
        type="password"
      ></ion-input>
    </ion-item>

    <div class="popup-buttons">
      <ion-button class="cancel-button" expand="block" (click)="closePopup()">
        Cancel
      </ion-button>
      <ion-button class="confirm-button" expand="block" (click)="submitPasswordChange()">
        Confirm
      </ion-button>
    </div>
  </div>
</div>
