.max-participants {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;

  h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    margin: 2px 0 0 15px;
  }
}
