<div class="max-participants">
  <ion-checkbox
    [(ngModel)]="maxParticipantsEnabled"
    (ngModelChange)="onMaxParticipantsEnabledChange($event)"
  ></ion-checkbox>

  <h2>Max participants:</h2>

  <ion-item>
    <ion-input
      type="number"
      inputmode="integer"
      placeholder="0"
      class="max-participants-input"
      [(ngModel)]="maxParticipants"
      (ngModelChange)="onMaxParticipantsChange($event)"
      [disabled]="!maxParticipantsEnabled"
    ></ion-input>
  </ion-item>
</div>
