ion-content {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slogan {
  font-size: 20px;
  font-weight: normal;
  font-family: 'Inter', sans-serif;
  color: #3B82F6;

  p {
    margin: 5px 0 0;
  }

  p:first-child {
    margin: 0;
  }
}

ion-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0 0;
}

.validator {
  color: red;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  margin-top: 10px;
}

app-auth-button {
  margin-top: 15px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 20px 40px;
}

.divider::before,
.divider::after {
  content: "";
  border-bottom: 1px solid #3BADEC;
  width: 150px;
}

.divider span {
  padding: 0 10px;
  color: #3BADEC;
  font-weight: normal;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.separator {
  width: 340px;
  height: 1px;
  background-color: #3BADEC;
  margin: 25px auto;
}

.sign-in {
  text-align: center;

  a {
    color: #3B82F6;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
  }

  .redirect-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}
