<app-header
  title="Create new event"
  [showBack]="true"
  [showCheck]="true"
  (checkClicked)="finalizeEventCreation()"
></app-header>

<ion-content>
  <app-max-participants
    [(maxParticipants)]="maxParticipants"
    [(maxParticipantsEnabled)]="maxParticipantsEnabled"
  ></app-max-participants>

  <ion-text>
    <h2 class="invite-title">Invite</h2>
  </ion-text>

  <app-search-bar></app-search-bar>

  <div class="select-users">
    <app-select-user></app-select-user>
    <app-select-user></app-select-user>
    <app-select-user></app-select-user>
    <app-select-user></app-select-user>
    <app-select-user></app-select-user>
    <app-select-user></app-select-user>
    <app-select-user></app-select-user>
    <app-select-user></app-select-user>
    <app-select-user></app-select-user>
    <app-select-user></app-select-user>
  </div>

  <ion-text>
    <h2 class="shareable-link-title">Shareable link:</h2>
  </ion-text>
  <app-shareable-link></app-shareable-link>
</ion-content>
