ion-segment.custom-segment {
  --background: #ffffff;
  --indicator-color: transparent;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #3BADEC;
  width: 350px;

  ion-segment-button {
    --color-checked: #fff;
    --background-checked: #3BADEC;
    --color: #3BADEC;
    --background: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: none;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    --indicator-color: transparent;
  }
}
