<app-header
  title="Create new event"
  [showNext]="true"
  (nextClicked)="goToNextPage()"
></app-header>

<ion-content>
  <form [formGroup]="form">
    <app-event-images-input></app-event-images-input>

    <div class="form-inputs">
      <app-event-input
        name="eventTitle"
        [control]="form.controls.title"
        type="text"
        placeholder="Title"
        [ngClass]="{'invalid': form.controls.title.errors && isTitleTouched()}"
      ></app-event-input>

      <app-event-description-input
        name="eventDescription"
        [control]="form.controls.description"
        [ngClass]="{'invalid': form.controls.description.errors && isDescriptionTouched()}"
      ></app-event-description-input>

      <app-event-category-select
        [control]="form.controls.categories"
      ></app-event-category-select>

      <app-event-input
        name="eventLocation"
        [control]="form.controls.location"
        type="text"
        placeholder="Location"
        [ngClass]="{'invalid': form.controls.location.errors && isLocationTouched()}"
      ></app-event-input>

      <ion-label class="datetime-label">Event Date:</ion-label>

      <div class="datetime-container">
        <app-event-date-input
          [control]="form.controls.date"
          [ngClass]="{'invalid': form.controls.date.errors && isDateTouched()}"
        ></app-event-date-input>
        <app-event-hour-input
          [control]="form.controls.hour"
          [ngClass]="{'invalid': form.controls.hour.errors && isHourTouched()}"
        ></app-event-hour-input>
      </div>

      <app-event-privacy-select
        [control]="form.controls.privacy"
        [ngClass]="{'invalid': form.controls.privacy.errors && isPrivacyTouched()}"
      ></app-event-privacy-select>
    </div>

  </form>

  <app-footer></app-footer>
</ion-content>
