<div class="notification-container" (click)="goToEvent()">
  <p>{{ notificationData.message }}</p>

  <ion-buttons
    class="accept-decline-buttons"
    *ngIf="notificationType === 'event_invitation'"
    (click)="$event.stopPropagation()"
  >
    <ion-button class="accept-button" (click)="onAccept()">
      <img src="assets/images/check.png" alt="check">
      <span>Accept</span>
    </ion-button>

    <ion-button class="decline-button" (click)="onDecline()">
      <img src="assets/images/cancel_orange.png" alt="decline">
      <span>Decline</span>
    </ion-button>
  </ion-buttons>

  <span class="event-accepted" *ngIf="notificationType === 'event_invitation_accepted'">Accepted!</span>
</div>
