.search-container {
  position: relative;
  z-index: 1;
  overflow-y: auto;
  margin-bottom: 65px;
  padding-top: 15px;
}

.search-bars-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 10;
}

.no-results {
  display: flex;
  justify-content: center;
  margin: 30vh 25px 0 25px;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #3B82F6;
  font-size: 18px;
  background: #F4F4F4;
  border-radius: 15px;
  border: 1px dashed #3BADEC;
}
