<app-header
  title="Create new event"
  [showBack]="true"
  [showNext]="true"
  (nextClicked)="goToNextPage()"
></app-header>

<ion-content>
  <div class="shopping-list">
    <ion-text>
      <h2 class="shopping-list-title">Shopping list</h2>
    </ion-text>

    <div *ngFor="let item of shoppingListItems">
      <div class="shopping-list-item">
        <app-item-name [(value)]="item.name"></app-item-name>
        <app-item-price [(value)]="item.price" (valueChange)="updateTotalPrice()"></app-item-price>
      </div>
    </div>

    <div class="add-item-button" (click)="addItem()">
      <img src="assets/images/add.png" alt="Add"/>
      <span>Add item</span>
    </div>
  </div>

  <app-total-price
    [value]="totalPrice"
    (valueChange)="totalPrice = $event"
  ></app-total-price>

  <app-split-costs-automatically></app-split-costs-automatically>
</ion-content>
