<app-header
  title="Create new event"
  [showBack]="true"
  [showNext]="true"
  (nextClicked)="goToNextPage()"
></app-header>

<ion-content>
  <div class="shopping-list">
    <ion-text>
      <h2 class="shopping-list-title">Shopping list</h2>
    </ion-text>

    <div *ngFor="let item of shoppingListItems">
      <app-shopping-list-item></app-shopping-list-item>
    </div>

    <div class="add-item-button" (click)="addItem()">
      <img src="assets/images/add.png" alt="Add"/>
      <span>Add item</span>
    </div>
  </div>
</ion-content>
