<app-logo></app-logo>
<ion-content>
  <form [formGroup]="form">

    <app-login-input
      name="email"
      [control]="form.controls.email"
      type="email"
      placeholder="Email"
      [ngClass]="{'invalid': form.controls.email.errors && isEmailTouched()}"
    ></app-login-input>

    <div class="validator" *ngIf="form.controls.email.errors && isEmailTouched()">
      <div *ngIf="form.controls.email.errors?.['required']">Email is required</div>
      <div *ngIf="form.controls.email.errors?.['email']">Please enter a valid email</div>
    </div>

    <app-login-input
      name="password"
      [control]="form.controls.password"
      type="password"
      placeholder="Password"
      [ngClass]="{'invalid': form.controls.password.errors && isPasswordTouched()}"
    ></app-login-input>

    <div class="validator" *ngIf="form.controls.password.errors && isPasswordTouched()">
      <div *ngIf="form.controls.password.errors?.['required']">Password is required</div>
    </div>

    <app-auth-button
      label="Login"
      [disabled]="form.invalid"
      (action)="onSubmit()">
    </app-auth-button>

  </form>

  <div class="divider">
    <span>or</span>
  </div>

  <div class="social-login">
    <app-google-facebook-button provider="google" (action)="onSocialLogin($event)"></app-google-facebook-button>
    <app-google-facebook-button provider="facebook" (action)="onSocialLogin($event)"></app-google-facebook-button>
  </div>

  <div class="forgot-password">
    <a href="#">Forgot your password?</a>
  </div>

  <div class="separator"></div>

  <div class="register">
    <a>Don't have an account?</a>
    <div class="redirect-button">
      <app-auth-redirect-button redirectTo="signup"></app-auth-redirect-button>
    </div>
  </div>

</ion-content>
