ion-item {
  --inner-border-width: 0px;
  margin-top: 10px;

  ion-input {
    background-color: #F4F4F4;
    width: 350px;
    height: 40px;
    border: 1px solid #3BADEC;
    border-radius: 10px;
    padding-left: 17px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #000000;

    &::placeholder {
      font-size: 18px;
      font-family: 'Inter', sans-serif;
      color: #575757;
      padding-left: 17px;
    }
  }
}

:host ::ng-deep .native-input.sc-ion-input-md {
  padding-left: 17px;
}

ion-input.ng-invalid.ng-touched {
  border: 1px solid red !important;
  border-radius: 8px;
}
