app-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.select-users {
  overflow-y: auto;
  margin-top: 15px;
  margin-bottom: 20px;

  app-select-user {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
