<app-header title="Edit profile" [showBack]="true" [showCheck]="true" (checkClicked)="saveProfile()"></app-header>

<ion-content>
  <div class="edit-profile-container">
    <app-profile-image
      [editable]="true"
      [imageUrl]="imagePreviewUrl"
      (imageChange)="onImageChange($event)"
    ></app-profile-image>

    <div class="email-container">
      <span class="email-title">Email: </span>
      <span class="profile-email">{{email}}</span>
    </div>

    <app-edit-profile-input
      input_title="Username"
      [input_value]="username"
      (input_valueChange)="username = $event"
    ></app-edit-profile-input>

    <app-edit-profile-input
      input_title="Name"
      [input_value]="name"
      (input_valueChange)="name = $event"
    ></app-edit-profile-input>

    <app-edit-profile-input
      input_title="Surname"
      [input_value]="surname"
      (input_valueChange)="surname = $event"
    ></app-edit-profile-input>

    <app-change-password-button></app-change-password-button>

    <app-logout-button></app-logout-button>
  </div>
</ion-content>
