ion-select {
  width: 350px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  background-color: #F4F4F4;
  margin: 2px auto;
  border: 1px solid #3BADEC;
  border-radius: 10px;
  padding-left: 17px;
}
