<div class="event-post-container">
  <div class="event-post-header">
    <div class="event-post-header-left">
      <img
        [src]="event.profileImage ?? 'assets/images/default_profile_image.png'"
        alt="Profile image"
        (click)="goToUserProfile()"
      />
      <div class="event-post-header-info">
        <p class="event-post-username" (click)="goToUserProfile()">{{ event.creatorUsername }}</p>
        <p class="event-post-name">{{ event.title }}</p>
      </div>
    </div>
    <img ngSrc="assets/images/more_vertical.png" alt="More options" height="24" width="24" (click)="openMoreOptions()">
  </div>

  <div class="event-post-image">
    <app-event-image-carousel [imageUrls]="imagesUrls" [isEventPost]="true"></app-event-image-carousel>
  </div>

  <div class="event-post-footer">
    <img ngSrc="assets/images/location.png" alt="Location icon" height="24" width="24">
    <span>
      {{ event.location }}
      &nbsp; · &nbsp; {{ event.date | date: 'dd/MM/yyyy' }}
      &nbsp; · &nbsp; {{ event.hour }}
    </span>
  </div>

  <div class="event-post-description" *ngIf="descriptionEnabled">
    <p>{{ event.description }}</p>
  </div>
</div>
