<app-event-header
  [showSettings]="true"
  [title]="title"
></app-event-header>

<ion-content>
  <app-shopping-list-participants-switch (viewChange)="onViewChange($event)"></app-shopping-list-participants-switch>
  <div class="event-more-info-container">

    <div class="shopping-list-container" *ngIf="selectedView === 'shoppingList'">
      <div *ngFor="let item of shoppingListItems; let i = index">
        <div class="shopping-list-item">
          <app-item-name [(value)]="item.name"></app-item-name>

          <div class="price-container">
            <app-item-price [(value)]="item.price" (valueChange)="updateTotalPrice()"></app-item-price>

            <div class="delete-button" (click)="removeItem(i)">×</div>
          </div>
        </div>
      </div>

      <div class="add-item-button" (click)="addItem()">
        <img src="assets/images/add.png" alt="Add"/>
        <span>Add item</span>
      </div>

      <app-total-price
        [value]="totalPrice"
        (valueChange)="totalPrice = $event"
      ></app-total-price>

      <app-split-costs-automatically
        [splitCostsEnabled]="splitCostsEnabled"
        [entryPrice]="entryPrice"
      ></app-split-costs-automatically>

      <div class="breakdown-payments-container">
        <p class="breakdown-payments-title">Breakdown of payments:</p>
        <p class="you-owe-title">You owe {{ creatorUsername }} {{ calculateDue() }}€</p>
      </div>

      <app-leave-event-button></app-leave-event-button>
    </div>


    <div class="participants-container" *ngIf="selectedView === 'participants'">
      <app-max-participants
        [(maxParticipants)]="maxParticipants"
        [(maxParticipantsEnabled)]="maxParticipantsEnabled"
      ></app-max-participants>

      <app-search-bar></app-search-bar>

      <div class="select-users">
        <app-select-user
          *ngFor="let user of participants"
          [username]="user.username"
          [profileImage]="user.profile_image"
          [id]="user.id"
        ></app-select-user>
      </div>

      <ion-text>
        <h2 class="shareable-link-title">Shareable link:</h2>
      </ion-text>
      <app-shareable-link [eventUuid]="eventId"></app-shareable-link>

      <hr class="separator" />

      <app-leave-event-button></app-leave-event-button>
    </div>
  </div>
</ion-content>
