<ion-content>
  <div class="my-profile-container">
    <img
      ngSrc="assets/images/settings.png"
      class="settings-icon" alt="Settings"
      height="28" width="28"
      (click)="openSettings()"
    >
    <div class="profile-info-container">
      <app-profile-image [imageUrl]="profileImage ?? 'assets/images/default_profile_image.png'"></app-profile-image>

      <div class="profile-info">
        <p class="name-and-surname">{{ nameAndSurname }}</p>
        <p class="username">{{ username }}</p>
      </div>
    </div>

    <app-profile-counters
      [postsNumber]="createdEventsCount"
      [followersNumber]="followersCount"
      [followingNumber]="followingCount"
      [userId]="userId"
    ></app-profile-counters>

    <app-event-post *ngFor="let event of userEvents" [event]="event"></app-event-post>
  </div>

  <app-footer></app-footer>
</ion-content>
